.active {
    background-color: rgba(40, 184, 84, 0.6);
    border-radius: 15px;
    color: white;
    margin-left: 5px;
    padding: 5px;
    padding-right: 10px;
}
.inactive {
    background-color: rgba(242, 5, 5, 0.6);
    border-radius: 15px;
    color: white;
    margin-left: 5px;
    padding: 5px;
    padding-right: 10px;
}